<div id="sidebar">
  <%= render 'title', trip: @trip %>
  
  <div id="sidebar-content">
    <div id="contentBox">
      <h3>Etappen</h3>
      <ol>
        <% @trip.legs.each do |leg| %>
          <%= render 'legs/leg_trip', leg: leg %>
        <% end %>
      </ol>
      <% if user_is_part?(@trip) %>
        <p>
          <%= link_to 'Etappe hinzufügen', new_leg_path(trip: @trip.id), class: "btn btn-success btn-xs" %>
        </p>
      <% end %>
    </div>
  </div>
  
</div>

<div id="map"></div>

<script>
    showMap();

    var bounds = new L.LatLngBounds();
    <% string = "" %>  
    <% @tracks.each_with_index do |track,index| %>
      <% string += "promise#{index}, " %>
      var promise<%= index %> = new Promise(function(resolve, reject) {
        var trackLayer<%= index %> = omnivore.gpx('<%= track.url %>')
        .on('ready', function() {
          this.eachLayer(function(layer){
            if (layer instanceof L.Marker) {
              layer.setOpacity(0);
            }
          });
          trackLayer<%= index %>.setStyle( {
            weight: 4,
            opacity: 1,
            color: "#c33",
            clickable: false
          });
          bounds.extend(trackLayer<%= index %>.getBounds());
          resolve("Stuff worked!");
        })
        .addTo(map);
      });   
    <% end %>
    
    function fit() {
      var objekt = $( "#sidebar" );
			var offset = objekt.offset();
			map.fitBounds(bounds, {paddingTopLeft: [offset.left + objekt.width() + 10, 10], paddingBottomRight: [10,10]});
    }
    
    Promise.all([<%=string[0..-3]%>]).then(function(){
      fit();
    });

</script>
