<%= form_for @leg, html: { multipart: true, class:"form-horizontal" } do |f| %>
  <% if @leg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leg.errors.count, "error") %> prohibited this leg from being saved:</h2>

      <ul>
      <% @leg.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag :trip, params[:trip] %>

  <div class="form-group">
    <%= f.label :title, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :title, {class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="input-group date">
        <%= f.text_field :date, {class: "form-control date"} %>
        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, {class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :distance, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :distance, {class: "form-control"} %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :time, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :time, {class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :maxkmh, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :maxkmh, {class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :hm, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :hm, {class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :track, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.file_field :track %>
      <p class="help-block">GPX-Tracks entlang von Straßen können mit <%= link_to "OpenRouteService", "http://www.openrouteservice.org/?pos=10.0,52.0&zoom=7", :target => "_blank" %> generiert werden. Freihand-GPX-Tracks können mit <%= link_to "[map] BBCode", "http://share.mapbbcode.org/", :target => "_blank" %> generiert werden.</p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit nil, {class: "btn btn-primary"} %>
    </div>
  </div>
<% end %>
