<%= render 'photos/modal_add_photo', leg: @leg%>

<div id="sidebar">
  <%= render 'trips/title', trip: @leg.trip %>
  
  <div id="sidebar-content">
    <div id="etappenBox">
      <% if @leg.prev_leg %>
        <%= link_to "« #{@leg.prev_leg.title}", @leg.prev_leg, class: "left" %>
      <% end %>
      
      <% if @leg.next_leg %>
        <%= link_to "#{@leg.next_leg.title} »", @leg.next_leg, class: "right" %>
      <% end %>
      
      <h3>
        <span id="leg-title"><%= @leg.title %></span>
        <% if @leg.date %>
          <small><%= l @leg.date %></small>
        <% end %>
        <% if user_is_part?(@leg.trip) %>
          <%= link_to edit_leg_path(@leg) do %>
            <%= render 'custom/button_edit' %>
          <% end %>
          <%= link_to @leg, method: :delete, data: { confirm: 'Möchtest du die Etappe wirklich löschen?' } do %>
            <%= render 'custom/button_delete' %>
          <% end %>
        <% end %>
      </h3>
    </div>
    <div id="contentBox">
      <p><%= @leg.description %></p>
      <div id="contentLabels">
        <% if @leg.distance %>
          <span class="label label-default"><%= @leg.distance.round %> km</span>
        <% end %>
        <% if @leg.time %>
          <span class="label label-default"><%= @leg.time.strftime("%H:%M") %> Std.</span>
        <% end %>
        <% if @leg.maxkmh %>
          <span class="label label-default">max <%= @leg.maxkmh %> km/h</span>
        <% end %>
        <% if @leg.hm %>
          <span class="label label-default"><%= @leg.hm %> Höhenmeter</span>
        <% end %>
      </div>
    </div>
    <div id="photoBox">
      <% if @leg.photos.any? %>
        <div id="carousel-image" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <% @leg.photos.each_with_index do |photo,index| %>
              <li data-target="#carousel-image" data-slide-to="<%= index.to_s %>"
              <% if index==0 %>
                class="active"
              <% end %>></li>
            <% end %>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <% first = true %>
            <% @leg.photos.each do |photo| %>
              <div class="item<%=' active'if first %>">
                <%= image_tag photo.image.url(:medium) %>
                <div class="carousel-caption">
                  <h4>
                    <%= photo.title %>
                    <% if user_is_part?(@leg.trip) %>
                      <%= link_to photo, method: :delete, data: { confirm: 'Möchtest du das Bild wirklich löschen?' } do %>
                        <%= render 'custom/button_delete' %>
                      <% end %>
                    <% end %>
                  </h4>
                </div>
              </div>
              <% first = false %>
            <% end %>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-image" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-image" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      <% end %>
      <% if user_is_part?(@leg.trip) %>
        <%= link_to 'Bild hinzufügen', "#imageModal", :class => 'btn btn-success btn-xs', "data-toggle" => "modal" %>
      <% end %>
    </div>
  </div>
  
</div>

<div id="map"></div>

<script>
    showMap();
    var bounds = new L.LatLngBounds();
    var bounds_all = new L.LatLngBounds();
    var trackexists = false;
    <% string = "" %>  
    <% @tracks.each_with_index do |track,index| %>
      <% if track.exists? %>
        <% string += "promise#{index}, " %>
        var promise<%= index %> = new Promise(function(resolve, reject) {
          var trackLayer<%= index %> = omnivore.gpx('<%= track.url %>')
          .on('ready', function() {
            this.eachLayer(function(layer){
              if (layer instanceof L.Marker) {
                layer.setOpacity(0);
              }
            });
            <% if track.instance == @leg %>
              trackLayer<%= index %>.setStyle( {
                weight: 4,
                opacity: 1,
                color: "#3c3",
                clickable: false
              });
              bounds.extend(trackLayer<%= index %>.getBounds());
              bounds_all.extend(trackLayer<%= index %>.getBounds());
              trackexists = true;
            <% else %>
              trackLayer<%= index %>.setStyle( {
                weight: 4,
                opacity: 1,
                color: "#c33",
                clickable: false
              });
              bounds_all.extend(trackLayer<%= index %>.getBounds());
            <% end %>
            resolve("Stuff worked!");
          })
          .addTo(map);
        });
      <% end %>
    <% end %>
    
    function fit() {
      var objekt = $( "#sidebar" );
			var offset = objekt.offset();
      if(trackexists) {
        map.fitBounds(bounds, {paddingTopLeft: [offset.left + objekt.width()+10,10], paddingBottomRight: [10,10]});
      }
      else {
        map.fitBounds(bounds_all, {paddingTopLeft: [offset.left + objekt.width()+10,10], paddingBottomRight: [10,10]});
        }
    }
    
    Promise.all([<%=string[0..-3]%>]).then(function(){
      fit();
    });

</script>
